rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso total para prototipado rápido.
    // Redespliegue forzado para asegurar la eliminación de errores de permisos.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
